{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<br>
    <h1 class="text-lg text-gray-500">Feedback is appreciated</h1>
<br>
    <h1 class="text-xlg text-gray-500">Reach out for questions, concerns, or feedback to: jonahbu343@gmail.com</h1>
    <li class="text-xlg text-gray-500">jonahbu343@gmail.com</li>
    <li class="text-xlg text-gray-500">https://www.linkedin.com/in/jonah-bostrom-b43624202/</li>
    <li class="text-xlg text-gray-500">https://github.com/jmbost20</li>



{% endblock %}